* {
    padding: 0;
    margin: 0;
  }
  
  :root {
    --first-color: #7fffd3;
    --second-color: #8a7eff;
    --third-color: #ff7f9c;
    --forth-color: #bdff7f;
    --fifth-color: #feb97f;
  }
  ul {
    padding: 20px;
    list-style: none;
    display: inline-flex;
  }
  li {
    margin: 0 10px;
    color: white;
  }
  nav {
    background-color: #2a2a2a;
  }
  
  .headSection {
    width: 100%;
    height: 30rem;
    background-color: #acacac;
    position: relative;
    margin-bottom: 1rem;
  }
  
  h2 {
    margin: 30px;
    
  }


  p {
    margin: 30px;
    width: 20rem;
  }


  .textContainer {
    position: absolute;
    width: fit-content;
    right: 5px;
  }

  
  img {
    width: 400px;
    height: 200px;
    box-shadow: 1px 2px 5px black;
  }
  
  #img1 {
    position: absolute;
    transform: translate(60%, 50%);
    left: 200px;
    top: 30px;
  }
  #img2 {
    position: absolute;
    left: 200px;
    top: 30px;
  }
  
  .container {
    position: relative;
    width: 50vw;
    height: 50vh;
  }
  
  .square_1 {
    width: 100px;
    height: 100px;
    background-color: var(--first-color);
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(1rem, 3rem);
  }
  .square_2 {
    width: 100px;
    height: 100px;
    background-color: var(--second-color);
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(8rem, 10rem);
  }
  .square_3 {
    width: 100px;
    height: 100px;
    background-color: var(--third-color);
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(15rem, 17rem);
  }
  .square_4 {
    width: 100px;
    height: 100px;
    background-color: var(--forth-color);
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(22rem, 10rem);
  }
  .square_5 {
    width: 100px;
    height: 100px;
    background-color: var(--fifth-color);
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(29rem, 3rem);
  }
  .square_11 {
    width: 100px;
    height: 100px;
    background-color: var(--first-color);
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(40rem, 3rem);
  }
  .square_22 {
    width: 100px;
    height: 100px;
    background-color: var(--second-color);
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(47rem, 10rem);
  }
  .square_33 {
    width: 100px;
    height: 100px;
    background-color: var(--third-color);
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(54rem, 17rem);
  }
  .square_44 {
    width: 100px;
    height: 100px;
    background-color: var(--forth-color);
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(61rem, 10rem);
  }
  .square_55 {
    width: 100px;
    height: 100px;
    background-color: var(--fifth-color);
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10%;
    position: absolute;
    transform: translate(68rem, 3rem);
  }